
<div id="main-container">

    <section id="upper-section">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </section>

    <section id="content-section">
        
        <div>

        </div>
    </section>
</div>