<link rel="stylesheet" href="/css/sign_in_out.css">
    <main>
        <div class="row">
            <div class="colm-logo">
                <img src="/img/logo.jpg" alt="Logo">
                <h2>Habit Tracker helps you Track  your daily routine and Track them.</h2>
            </div>
            <div class="colm-form">
                <div class="form-container">
                    <form action="/users/forgotPass" method="post">

                        <input type="text" name="name" placeholder="name">
                        <input type="email" name="email" placeholder="Email address">
                        <input type="password" name="password" placeholder="New Password">
                        <button class="btn-login">Reset Password</button>
                    </form>
                    <a href="/users/sign-in">
                        <button class="btn-new">Login</button>
                    </a>
                    <a href="/users/sign-up">
                        <button class="btn-new">Create new Account</button>
                    </a>
                </div>
            </div>
        </div>
    </main>