
    <h3>Sign-in</h3>
<form action="/users/createSession" method="post">
    <div>
        <label for="email">email</label>
        <input id="email" type="email" name="email" placeholder="enter emal">
    </div>
    <div>
        <label for="password">password</label>
        <input id="password" type="password" name="password" placeholder="enter password">
    </div>
    <div>

        <input type="submit" value="Sign-in">
    </div>
</form>