body {
    font-family: sans-serif;

    a {
        text-decoration: none;
    }

    form{
        margin-bottom: 10px !important;
    }

    section {
        background-color: antiquewhite;
        border: 1px solid black;
        border-radius: 4px;

        ul {
            background-color: rgb(234, 199, 199);
            border: 0.5px solid black;
            list-style: none;
            border-radius: 10px;
            margin: 10px;
            padding: 0;
            color: rgb(81, 76, 186);
            font-weight: 800;
            font-size: large;

         

            li {
                // border: 0.5px solid black;
                // background-color: rgb(215, 250, 241);

                margin: 10px;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;


                div {
                    transition: 0.5s;
                    display: flex;
                    border: 0.3px solid black;
                    margin: 0;
                    padding: 10px;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 30px;
                    margin: 5px;
                    border-radius: 0.5rem;
                    opacity: 60%;
                }

                #status-div {
                    width: 10%;
                    justify-content: center;
                    font-size: large;
                }

                #fav_delete-div {
                    width: 20%;
                    justify-content: space-around;
                    font-size: large;
                }

                #content-div {
                    /* height: auto; */
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                }


                #content-div:hover{
                    backdrop-filter: invert(50%);
                    color: rgba(202, 229, 236, 0.936);
                    font-size: x-large !important;
                }
                #status-div:hover{
                    backdrop-filter: invert(50%);
                    color: rgba(202, 229, 236, 0.936);
                    font-size: x-large;
                }
                #fav_delete-div:hover {
                    backdrop-filter: invert(50%);
                    color: rgba(202, 229, 236, 0.936);
                }
                #fav_delete-div small:hover{
                    // backdrop-filter: invert(50%);
                    // color: rgba(202, 229, 236, 0.936);
                    font-size: xx-large;
                }

                #content-div small {
                    /* flex-wrap: nowrap; */
                    margin: 2px;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    #status-details-main{
        display: flex;
        background-color: aquamarine !important;
        justify-content: space-around;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .status-details-child{
            border: 1px solid black;
            width: 40%;
            display: flex;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: space-evenly;

            i{
                font-size: x-large;
            }
        }
    }
}