body {
  margin: 0;
  padding: 0;
}
body header {
  position: sticky;
  top: 0px;
  padding: 0;
  background-color: aqua;
  height: auto;
}
body header ul {
  display: flex;
  margin: auto;
  list-style: none;
}
body header ul li {
  margin: 5px;
}
body main {
  padding: 30px;
  min-height: 80vh;
  background-color: antiquewhite;
  text-align: center;
}
body main form {
  margin: auto;
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
body main form div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
body main form div input {
  width: 70%;
}
body main form div label {
  width: 30%;
}
body footer {
  position: sticky;
  bottom: 0px;
  padding: 0;
  background-color: aqua;
  height: auto;
}
body footer ul {
  display: flex;
  margin: auto;
  padding-bottom: 5px;
  list-style: none;
}
body footer ul li {
  margin: 5px;
}